@using Microsoft.AspNet.Identity
@using Webapp.Extensions
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    @{
                        if (User.Identity.ProfilePicture() != string.Empty)
                        {
                            <img src="~/Content/ProfilePictures/@User.Identity.GetUserId()/@User.Identity.ProfilePicture()" alt="Profile" class="rounded-circle" style="max-height: 48px">
                        }
                        else
                        {
                            <img src="~/Content/ProfilePictures/user.png" alt="Profile" class="rounded-circle" style="max-height: 48px" />
                        }
                    }
                    <span class="d-none d-md-block dropdown-toggle ps-2">@User.Identity.GetFullName()</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>@User.Identity.GetFullName()</h6>
                        <span> @User.Identity.GetJobTitle()</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/Manage">
                            <i class="fa-solid fa-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            <span> Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li>
            @*<li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="nav-link" })
                </li>
                <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
