
@model Webapp.ViewModels.TasksViewModel

@{
    ViewBag.Title = "Edit tasks";
}
<link href="~/Scripts/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
<nav aria-label="breadcrumb" style="background-color: #d8dce1; padding: .75rem 1rem; border-radius: .25rem">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Task detail</li>
    </ol>
</nav>

<main aria-labelledby="title">
    <div class="card shadow mt-4">
        <div class="card-header">
            <div>
                <h3>Task detail</h3>
            </div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("", "", FormMethod.Post, new { role = "form", @class = "p-lg-5 p-sm-1", id="Details" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.AssignedToUserId)
                @Html.HiddenFor(x => x.AssigningUserId)
                @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                <div class="row mb-3">
                    @Html.LabelFor(m => m.Subject, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="row mb-3">
                    @Html.LabelFor(m => m.Description, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(m => m.Description, 10, 10, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="row mb-3">
                    @Html.LabelFor(m => m.PriorityId, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.PriorityId, Model.Priority, "Select priority", new { @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.PriorityId, "", new { @class = "text-danger" })

                    </div>
                </div>


                <div class="row mb-3">
                    @Html.LabelFor(m => m.AutoCompletebox, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.AutoCompletebox, new { @class = "form-control" })

                    </div>
                </div>
                <div class="row mb-3">
                    @Html.LabelFor(m => m.DateDue, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.DateDue, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                        @Html.ValidationMessageFor(model => model.DateDue, "", new { @class = "text-danger" })

                    </div>
                </div>
            }
        </div>
    </div>

</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#Details *').prop('disabled', true);
        });


    </script>
}